{% extends "base.html" %}

{% block title %} Acerca de mi {% endblock %}

{% block content %} 
<body>
<h1 style=" font-family: Verdana, Geneva, Tahoma, sans-serif; color:wheat; text-align: center; ">Acerca de mi:</h1>

<h2 style="font-size: medium; color:white; text-align: justify; min-width: 1000px; max-width: 1000px; margin-left: 25%; margin-right: 25%;">

Mi nombre es Andres Cardoso, uruguayo de 27 años. Nací en Montevideo, pero actualmente vivo en Ciudad de la Costa, Canelones.
Actualmente trabajo como maestro en primaria, en una escuela de Montevideo. También he trabajado en el ámbito de la recreación, 
en campamentos y en colonias de verano, así como también como profesor de informática en educación primaria.
Actualmente estoy cursando Python en CODERHOUSE, y comenzando a estudiar Desarrollo Web en un programa llamado "Jóvenes a Programar",
brindado por Ceibal Uruguay.
Apasionado por viajar, se me ocurrió crear este blog en donde se compartan rincones del Uruguay abiertos al turismo. Lugares conocidos,
algunos otros no tanto, pero todos esperando a que alguien los visite y disfrute de los paisajes que ofrecen.

</h2>
<p>
<center>
<img src="media\varios\¿RECORREMOS URUGUAY.png"  align="middle">
</center>



</body>
{% endblock %}