{% extends "base.html" %}

{% block title %} Destinos {% endblock %}

{% block content %} 
<body>
    <h1 style=" font-family: Verdana, Geneva, Tahoma, sans-serif; color:wheat; text-align: center;">Destinos</h1>
    <h3 style=" font-family: Verdana, Geneva, Tahoma, sans-serif; color:wheat; text-align: left; font-size: medium;">{{mensaje}}</h3>
    <a class="btn btn danger" href="{% url 'agregarDestino' %}" style="color: rgba(255, 255, 255, 0.8); margin-left: 80%; font-size: x-large;">Agregar Destino</a>
    <ul>

        {% if paginas %}
            {% for pagina in paginas %}

            
                <li style="border-style:groove; border-color: black; border-radius: 10px;">
                    
                    <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color:whitesmoke; font-size: large; list-style:none;">{{pagina.titulo}}</h2>  
                    <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color:grey; font-size: medium; list-style:none;"><img src="{{pagina.imagen.url}}" style="width: 200px; height: 100px;" >{{pagina.subtitulo}}</h3> 
                    <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color:grey; font-size: small; list-style:none;">{{pagina.fecha.day}}/{{pagina.fecha.month}}/{{pagina.fecha.year}}</h3>  
                    <a class="btn btn danger" href="{% url 'verPagina' pagina.id %}" style="color: rgba(255, 255, 255, 0.8);">Leer mas</a>
                    
                

                </li>
            
            
            
            {% endfor %}
        
        {% else %}    
            <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color:whitesmoke; font-size: large; list-style:none;">Aún no existen paginas.</h2>  
        {% endif %}
    </ul>

    



</body>
{% endblock %}